.button {
  position: relative;
  display: inline-block;
  border: 0;
  padding: 12px 16px;
  color: var(--clr-white-400);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-blue-400);
  font-size: var(--fs-400);
  text-decoration: none;
  transition: all 0.2s ease;
  z-index: 0;
}

.button:after {
  position: absolute;
  content: "";
  inset: 0;
  width: 0;
  background-color: var(--clr-white-400);
  transition: all 0.2s ease;
  z-index: -1;
}

.button:hover::after {
  width: 100%;
}

.button:hover {
  opacity: 0.9;
  box-shadow: 0 0 25px -13px rgba(0, 0, 0, 0.237);
  color: var(--clr-blue-400);
  cursor: pointer;
}

.button--inverted:hover {
  color: var(--clr-white-400);
}

.button--inverted::after {
  background-color: var(--clr-blue-400);
}

.button--maxwidth {
  width: 100%;
  max-width: 133px;
  text-align: center;
}

.button--inverted {
  border: 2px solid var(--clr-blue-400);
  background-color: var(--clr-white-400);
  color: var(--clr-blue-400);
}

/* Tablets and Desktop */
@media screen and (min-width: 700px) {
  .button--maxwidth {
    max-width: 170px;
  }
}

/* Desktop */
@media screen and (min-width: 1000px) {
  .button {
    padding: 16px;
    font-weight: var(--fw-regular);
  }

  .button--maxwidth {
    max-width: 190px;
  }
}
