input,
textarea {
  outline: transparent;
  border: none;
}

.input-container {
  position: relative;
}

.input-container__input {
  resize: none;
  border-radius: 4px;
  background-color: var(--clr-white-400);
  padding: 30px 12px 8px 12px;
  border-bottom: 1px solid var(--clr-grey-300);
  width: 100%;
  color: var(--clr-grey-500);
}

.input-container__label {
  position: absolute;
  inset: 0;
  padding: 16px 0 0 12px;
  margin-right: 18px;
  color: var(--clr-grey-400);
  transition: all 0.2s ease;
  height: min-content;
  background-color: white;
}

.input-container__input:focus + .input-container__label {
  padding-top: 8px;
  font-size: var(--fs-200);
}

.input-container__input[isempty="false"] + .input-container__label {
  padding-top: 8px;
  font-size: var(--fs-200);
}
