input,
textarea {
  outline: transparent;
  border: none;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container__input {
  resize: none;
  border-radius: 4px;
  background-color: var(--clr-white-400);
  padding: 30px 12px 8px 12px;
  border-bottom: 1px solid var(--clr-grey-300);
  width: 100%;
  color: var(--clr-grey-500);
}

.input-container__input::placeholder {
  visibility: hidden;
}

.input-container__label {
  position: absolute;
  width: 100%;
  inset: 0;
  padding: 16px 0 0 12px;
  color: var(--clr-grey-400);
  transition: none;
  height: min-content;
  background-color: white;
  z-index: 1;
}

.input-container__input:not(:placeholder-shown) + .input-container__label,
.input-container__input:focus + .input-container__label {
  padding-top: 8px;
  font-size: var(--fs-200);
}

/* .input-container__input[isempty="false"] + .input-container__label {
  padding-top: 8px;
  font-size: var(--fs-200);
} */

.input-container ::-webkit-scrollbar {
  display: none;
}

/* Tablets and Desktop */
@media screen and (min-width: 700px) {
  .input-container__label {
    transition: all 0.2s ease;
  }
}
