.product-card {
  max-width: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-card__img-container {
  position: relative;
  height: 174px;
}

.product-card__img {
  max-width: none;

  position: absolute;

  width: 100%;
  height: 100%;

  /* This is awesome */
  object-fit: cover;

  /* This centers the image even if it is larger than the container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card__icons-container {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;

  z-index: 2;
}

.product-card__trash-icon,
.product-card__pencil-icon {
  padding: 11px;
  transition: transform 0.3s ease;
}

.product-card__trash-icon:hover,
.product-card__pencil-icon:hover {
  transform: scale(1.2);
}

.product-card__title {
  font-weight: var(--fw-medium);
}

.product-card__price {
  font-weight: var(--fw-bold);
}

.product-card__link {
  color: var(--clr-blue-400);
  font-weight: var(--fw-bold);
}

.product-card--grid-item .product-card__id {
  color: var(--clr-grey-500);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
}

/* Tablets and Desktop */
@media screen and (min-width: 700px) {
  .product-card {
    max-width: 220px;
  }
}
