.search {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: var(--clr-grey-300);
  padding: 30px 20px;
  transition: 0.3s;
}

.search[active="true"] {
  transform: translateY(0);
}

.search[active="false"] {
  transform: translateY(-100%);
}

.search__input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 100px;
  border: none;
  background-color: var(--clr-grey-100);
}

.search__input::placeholder {
  color: var(--clr-grey-400);
}

.search__img {
  position: absolute;
  inset: 0;
  left: auto;
  right: 40px;
  margin: auto 0;
  cursor: pointer;
}

/* Tablets and Desktop */
@media screen and (min-width: 700px) {
  .search {
    display: unset;
    background: none;
    position: relative;
    padding: 0;
    width: 35%;
  }

  .search[active="true"] {
    transform: translateY(0);
  }

  .search[active="false"] {
    transform: translateY(0);
  }

  .search__img {
    right: 20px;
  }

  .search__mobile-button {
    display: none;
  }
}
