.search {
  display: none;
  position: relative;
}

.search__input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 100px;
  border: none;
  background-color: var(--clr-grey-100);
}

.search__input::placeholder {
  color: var(--clr-grey-400);
}

.search__img {
  position: absolute;
  inset: 0;
  left: auto;
  right: 20px;
  margin: auto 0;
}

/* Tablets and Desktop */
@media screen and (min-width: 700px) {
  .search {
    display: unset;
  }

  .search__mobile-button {
    display: none;
  }
}
