/* Header styles */

.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;

  flex-wrap: wrap;

  gap: 1rem;

  padding: 1rem 0;
}

.search__mobile-button {
  background: none;
  border: none;
}

.search__mobile-button-img {
  min-width: 18px;
}

.search {
  width: 35%;
}

.search--push-right {
  margin-right: auto;
}

.header__logo-img {
  max-width: 100px;
}

.header__buttons-container {
  display: flex;
  gap: 0.625rem;
  margin: 0 auto;
}

.header__buttons-container .button {
  font-size: var(--fs-200);
}

.header__login-button {
  margin: 0 auto;
}
/* Tablets and Desktop */
@media screen and (min-width: 700px) {
  .header__inner {
    gap: 2rem;
  }

  .header__buttons-container .button {
    font-size: var(--fs-400);
  }

  .header__buttons-container {
    display: flex;
    gap: 0.625rem;
    margin: 0;
  }

  .header .button {
    margin-right: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1000px) {
  .header__logo-img {
    max-width: 176px;
  }

  .header__inner {
    padding: 2rem 0;
  }
}
